$btn-color: $accent;
.btn {
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: $btn-color;
  color: $background;
  padding: 15px 25px;
  border-radius: $generic-border-radius;
  text-decoration: none;
  transition: 0.25s all ease;

  &.basic {
    border: 2px solid $btn-color;
    background-color: transparent;
    color: $btn-color;

    &:hover {
      background-color: rgba(darken($background, 20%), 0.1);
    }
  }

  &:hover {
    background-color: darken($btn-color, 5%);
  }

  &:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
  }
}
