.lang-changer {
  position: fixed;
  bottom: 50px;
  @include mq($mq-big) {
    right: 50px;
    width: 100px;
  }
  right: 25px;
  width: 80px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: $generic-box-shadow;
  transition: height 0.25s $easing;
  background-color: $background;
  animation: fadeVisible 0.25s $easing forwards;
  animation: bounce 1.25s linear 2 forwards 3s;
  z-index: 3000;

  &.open {
    height: 100px;
    .lang-changer__cta {
      border-bottom: 1px solid rgba(grey, 1);
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-bottom 0.25s $easing;
    border-bottom: 1px solid rgba(grey, 0);

    span {
      text-transform: uppercase;
      letter-spacing: 1px;
      padding-left: 15px;
      font-size: 15px;
      margin: auto 0;
      font-weight: bold;
      @include no-select();
      color: $text;
    }
    &-toggle-wrapper {
      @include mq($mq-big) {
        border-left: 1px solid grey;
      }
      padding: 5px 15px 5px 10px;
      height: 29px;
      cursor: pointer;
      svg {
        color: $accent;
        width: 15px;
        margin-top: 2px;
        transition: transform 0.3s $easing;
      }
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2000;
    height: 70px;

    li {
      height: 50%;
      width: 100%;
      @include mq($mq-big) {
        padding-left: 15px;
      }
      padding-left: 10px;
      padding-top: 8px;
      z-index: 2000;
      cursor: pointer;
      opacity: 0;
      animation: fadeVisible 0.4s $easing forwards;
      &:hover {
        background-color: darken($background, 10%);
      }
      &:last-of-type {
        border-radius: 0 0 15px 15px;
        height: 47%;
        margin-bottom: 3%;
      }
    }
  }
}
