$header-color: #f4ecff;
$text-color: lighten($text, 70%);
$overlay-color: darken($accent, 25%);

.project {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 3em 0;
  max-height: 500px;
  &:hover {
    .project__desc {
      background-color: rgba($overlay-color, 0.7);
    }
  }

  img,
  &__desc {
    max-width: 600px;
    position: relative;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    transition: 0.25s all $easing;
  }

  &__desc {
    background-color: rgba($overlay-color, 0.75); //roughly #503e9d
    z-index: 2;
    padding: 3em 2em;
    transition: 0.25s all $easing;

    &-title {
      font-size: clamp(24px, 3vw, 32px);
      margin: 0;
      color: $header-color;
    }

    &-info,
    span {
      font-family: $font-secondary;
      color: $text-color;
    }
    &-info {
      margin: 1em 0;
      line-height: 1.3;

      @include mq($mq-small) {
        margin: 2em 0;
      }
    }
    span {
      margin-right: 1em;
    }

    &-links {
      margin-top: 1em;
      @include mq($mq-small) {
        margin-top: 2em;
      }
      a {
        cursor: default;
        svg {
          cursor: pointer;
          color: $header-color;
          width: 25px;
          height: 25px;
          margin-right: 2em;
          transition: 0.25s all $easing;
          &:hover {
            color: $primary-dark;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    opacity: 0.25;
    z-index: 1;
    overflow: hidden;
  }
}
