.skills {
  display: grid;
  width: 80%;
  grid-template-areas:
    "itemArea itemArea"
    "itemArea itemArea"
    "itemArea itemArea";

  li {
    color: $primary-light;
    margin-bottom: 7px;
    &:before {
      color: $accent;
      content: "● ";
    }
  }
}
