.snackbar {
  position: fixed;
  border: 2px solid $primary;
  border-radius: 10px;
  padding: 0.8em 1.5em;
  background: $background;
  max-width: 80vw;
  bottom: 50px;
  left: 50px;
  text-align: center;
  box-shadow: $generic-box-shadow;
  transform: translateX(-300px);
  opacity: 0;
  transition: 0.4s all $easing;
  z-index: 4000;

  &.open {
    transform: translateX(0px);
    opacity: 1;
  }

  &__message {
    font-family: $font-secondary;
    margin: 0;
    font-weight: bold;
    color: $text;
  }
}
