section.about {
  padding-top: 35vh;
  max-width: 960px;

  .section__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mq($mq-normal) {
      flex-direction: row;
    }
    &-desc {
      margin-bottom: 5vh;
      max-width: 500px;
    }

    &-svg {
      max-width: 400px;
      @include mq($mq-small) {
        margin-left: 50px;
      }
      svg {
        height: 90%;
        width: 100%;
      }
    }
  }
}
