section.contact {
  max-width: 400px;
  text-align: center;

  p {
    margin-top: 30px;
  }
  .contact__mail {
    color: $primary;
    transition: 0.25s all $easing;
    cursor: pointer;
  }
  .btn {
    margin-top: 20px;
  }

  .snackbar {
    display: none;
    transition: 0.25s all $easing;

    &.open {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
    &__message {
      font-family: $font-secondary;
      margin: 0;
      font-weight: bold;
      color: $text;
    }
  }
}
