section.contact {
  max-width: 400px;
  text-align: center;

  p {
    margin-top: 30px;
  }
  .contact__mail {
    color: $primary;
    transition: 0.25s all $easing;
    cursor: pointer;
  }
  .btn {
    margin-top: 20px;
  }

  .snackbar {
    position: fixed;
    background: $background;
    padding: 10px 20px;
    border: 2px solid $primary;
    border-radius: 13px;
    bottom: 50px;
    left: 50px;
    transform: translateY(400px);
    width: clamp(20px, 75vw, 400px);
    @include no-select();
    @include mq($mq-small) {
      width: fit-content;
      transform: translateX(-400px);
    }

    transition: 0.25s all $easing;
    &.open {
      @include mq($mq-small) {
        transform: translateX(0);
      }
      transform: translateY(0);
    }
    &__message {
      font-family: "Open Sans", sans-serif;
      margin: 0;
      font-weight: bold;
      color: $text;
      position: relative;
    }
  }
}
