@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

$accent: #6730ec;
$primary-dark: #163172;
$primary: #1e56a0;
$primary-light: #8892b0;
$background: #f1f1f1;
$text: #202020;
$text-secondary: #575758;
