@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primary-dark: #163172;
$accent: #6730ec;
$primary: #0339f8;
$primary-light: #69769c;
$background: #f1f1f1;
$text: #341c50;
