$mq-small: 721px;
$mq-normal: 961px;
$mq-big: 1081px;

$font-primary: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;

//Easing timing for animations
$easing: cubic-bezier(0.645, 0.045, 0.355, 1);
