header {
  width: 100vw;
  padding: 20px 0;
  align-items: center;
  position: fixed;
  z-index: 8000;
  nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    .logo {
      color: $accent;
      transition: 0.25s all ease;
    }

    .nav-links {
      align-items: center;
      transform: translateX(100%);
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      padding-top: 20vh;
      top: 0;
      right: 0;
      width: 60%;
      max-width: 300px;
      background-color: darken($background, 3%);
      transition: 0.4s all ease;

      &.active {
        transform: translateX(0%);
        .nav-link {
          animation: slideIn 0.25s ease forwards;
        }
      }
      .nav-link {
        opacity: 0;
        font-weight: bold;
        color: $accent;
        cursor: pointer;
        transition: 0.25s all ease;
        animation: fadeDown 0.25s ease forwards;

        a {
          color: $text;
          text-decoration: none;
        }
        a:hover {
          color: $accent;
        }
      }

      @include mq($mq-small) {
        padding: 0;
        position: relative;
        height: initial;
        flex-direction: row;
        transform: translateX(0%);
        justify-content: space-between;
        background: transparent;
        width: 475px;
        max-width: 100%;

        .nav-link {
          margin-left: auto;
        }
      }
      @include mq($mq-big) {
        width: 600px;
      }
    }

    .burger {
      @include mq($mq-small) {
        display: none;
      }
      cursor: pointer;
      z-index: 9000;

      &:hover,
      &.open {
        .burger-line {
          width: 30px;
        }
      }

      &-line {
        background-color: $accent;
        width: 30px;
        height: 3px;
        margin: 6px;
        margin-left: auto;
        transition: 0.25s all ease-in-out;

        &:nth-of-type(1) {
          width: 40px;
        }
        &:nth-of-type(3) {
          width: 25px;
        }
      }

      &.open {
        .burger-line:nth-of-type(2) {
          opacity: 0;
          transform: rotate(-225deg) translate(0px, 0px);
        }
        .burger-line:nth-of-type(1) {
          transform: rotate(-45deg) translate(-6px, 6px);
        }
        .burger-line:nth-of-type(3) {
          transform: rotate(45deg) translate(-6px, -6px);
        }
      }
    }
  }
}
