header {
  width: 100vw;
  padding: 20px 0;
  align-items: center;
  position: fixed;
  z-index: 8000;
  background-color: rgba($background, 0.97);
  transition: 0.4s all $easing;
  &.scrolled {
    box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
    nav {
      height: 40px;
    }
    &.up {
      transform: translateY(-150%);
    }
    &.down {
      transform: translateY(0);
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transition: 0.3s height ease-out;

    .logo {
      color: $accent;
      transition: 0.25s all $easing;
      cursor: pointer;
      svg {
        width: 45px;
        height: 45px;
      }
    }

    .nav-links {
      align-items: center;
      transform: translateX(100%);
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
      padding-top: 20vh;
      top: 0;
      right: 0;
      width: 60%;
      max-width: 300px;
      background-color: darken($background, 3%);
      transition: 0.4s all $easing;

      &.active {
        transform: translateX(0%);
        .nav-link {
          animation: slideIn 0.25s ease forwards;
        }
      }
      .nav-link {
        opacity: 0;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        transition: 0.25s all $easing;
        animation: fadeDown 0.25s $easing forwards;
        color: $text;
        @include no-select();

        span {
          color: $accent;
        }
        &:hover {
          color: $accent;
        }
      }

      @include mq($mq-small) {
        padding: 0;
        position: relative;
        height: initial;
        flex-direction: row;
        transform: translateX(0%);
        justify-content: space-between;
        background: transparent;
        width: 490px;
        max-width: 100%;

        .nav-link {
          margin-left: auto;
        }
      }
      @include mq($mq-normal) {
        width: 600px;
      }
    }

    .burger {
      @include mq($mq-small) {
        display: none;
      }
      cursor: pointer;
      z-index: 9000;

      &:hover,
      &.open {
        .burger-line {
          width: 30px;
        }
      }

      &-line {
        background-color: $accent;
        width: 30px;
        height: 3px;
        margin: 6px;
        margin-left: auto;
        transition: 0.25s all ease-in-out;

        &:nth-of-type(1) {
          width: 40px;
        }
        &:nth-of-type(3) {
          width: 25px;
        }
      }

      &.open {
        .burger-line:nth-of-type(2) {
          opacity: 0;
          transform: rotate(-225deg) translate(0px, 0px);
        }
        .burger-line:nth-of-type(1) {
          transform: rotate(-45deg) translate(-6px, 6px);
        }
        .burger-line:nth-of-type(3) {
          transform: rotate(45deg) translate(-6px, -6px);
        }
      }
    }
  }
}
