@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

header {
  width: 100vw;
  padding: 20px 0;
  align-items: center;
  nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: fit-content;

    .logo {
      font-size: 20px;
    }

    .nav-links {
      &.active {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        padding-top: 10vh;
        top: 0;
        right: 0;
        width: 70%;
        background-color: darken($background, 5%);
        animation: slideIn 0.5s ease;
      }
    }

    .burger {
      @include mq(720px) {
        display: none;
      }
      cursor: pointer;
      z-index: 9000;

      &-line {
        background-color: black;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: 0.25s all ease-in-out;
      }

      &.open {
        .burger-line:nth-of-type(2) {
          opacity: 0;
        }
        .burger-line:nth-of-type(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        .burger-line:nth-of-type(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }
    }
  }
}
